<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/places/tabs/discover'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-img [src]="place.imageUrl" class="ion-no-margin ion-no-padding"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>{{place.description}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="place.userId != authService.userId">
      <ion-col>
        <ion-button color="primary" class="ion-margin" (click)="onBookPlace()">Book</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
